
{% if config.options is defined and config.options[0] is defined%}
{# use options defined for this domain #}
{% for item in config.options %}
    {% for key,val in item.iteritems() %}{{ key }} {{ val }}{% endfor %}
 
{% endfor %}
{% else %}
{# use default options #}
{% for item in haproxy_default_backend_options %}
    {% for key,val in item.iteritems() %}{{ key }} {{ val }}{% endfor %}
 
{% endfor %}
{% endif %}
{# force bad gateway (error 502) for backend erros greater/equal than 500 #}
{% if config.force502 is defined and config.force502 %}
    acl is_internal_error status ge 500
    rspideny . if is_internal_error
{% endif %}
{# rewrites for routing (strip route from request) #}
{% if config.striproute is defined and route is defined and config.striproute %}
    # rewrite /{{ route }}/ to /
    reqrep ^([^\ :]*)\ /{{ route }}/(.*)     \1\ /\2
{# end: striproute #}{% elif config.rewrite_to is defined and route is defined %}
    # rewrite /{{ route }}/ to /
    reqrep ^([^\ :]*)\ /{{ route }}/(.*)     \1\ /{{ config.rewrite_to }}/\2
{% endif %}{# end: rewrite_to/striproute #}
{% if config.backend.check is defined and config.backend.check != None %}
{% set checks = config.backend.check %}
{% else %}
{% set checks = haproxy_default_backend_check %}
{% set backup = config.backend.backup|default(False) %}
{% endif %}
{% for server in config.backend.servers %}
    server {{ server }}{{ suffix|default('') }} {{ server }}:{{ config.backend.port|default(haproxy_default_backend_port) }} {{ checks }} {% if not loop.first and backup %}backup{% endif %} 
{% endfor %}

