

# mysql frontend ###################################
# for version {{ _haproxy_major_version }}.{{ _haproxy_minor_version }}
{# check for config version #}
{# listen changed in 1.6 #}
{% if _haproxy_major_version == '1' and _haproxy_minor_version >= '6' %}
listen {{ galera.name }} 
    bind {{ galera.listen_ip }}:{{ galera.listen_port }}
{% else %}
listen {{ galera.name }} {{ galera.listen_ip }}:{{ galera.listen_port }}
{% endif %}
    balance leastconn
    mode tcp
    option tcplog
{# options from config #}
{% if galera.options is defined and galera.options[0] is defined %}
{% for opt in galera.options %}
    {{ opt }}
{% endfor %}
{% endif %}
{% if galera.check_type == 'mysql' %}
    option mysql-check user haproxy
    
{% for ip in galera.nodes %}
    server {{ galera.name }}-node-{{ loop.index }} {{ ip }}:3306 check {% if not loop.first %}backup{% endif %} 
{% endfor %}
{% endif -%}


{% if galera.check_type == 'http' %}
    option httpchk
{% for ip in galera.nodes %}
    server {{ galera.name }}-node-{{ loop.index }} {{ ip }}:3306 check port {{ galera.check_port }} inter 5000 fastinter 2000 rise 2 fall 2 {% if not loop.first %}backup{% endif %} 
{% endfor %}
{% endif %}


# mysql frontend readonly ############################
# for version {{ _haproxy_major_version }}.{{ _haproxy_minor_version }}
{# check for config version #}
{# listen changed in 1.6 #}
{% if _haproxy_major_version == '1' and _haproxy_minor_version >= '6' %}
listen {{ galera.name }}-readonly 
    bind {{ galera.listen_ip }}:{{ galera.listen_port + 1 }}
{% else %}
listen {{ galera.name }}-readonly {{ galera.listen_ip }}:{{ galera.listen_port + 1 }}
{% endif %}
    balance leastconn
    mode tcp
    option tcplog
{# options from config #}
{% if galera.options is defined and galera.options[0] is defined %}
{% for opt in galera.options %}
    {{ opt }}
{% endfor %}
{% endif %}
{% if galera.check_type == 'mysql' %}
    option mysql-check user haproxy
    
{% for ip in galera.nodes %}
    server {{ galera.name }}-node-{{ loop.index }} {{ ip }}:3306 check
{% endfor %}
{% endif -%}


{% if galera.check_type == 'http' %}
    option httpchk
{% for ip in galera.nodes %}
    server {{ galera.name }}-node-{{ loop.index }} {{ ip }}:3306 check port {{ galera.check_port }} inter 5000 fastinter 2000 rise 2 fall 2
{% endfor %}
{% endif %}

