

# mysql frontend ###################################
# for version {{ _haproxy_major_version }}.{{ _haproxy_minor_version }}
{# check for config version #}
{# listen changed in 1.6 #}
{% if _haproxy_major_version == '1' and _haproxy_minor_version >= '6' %}
listen mysql-cluster 
    bind {{ haproxy_mysql_listen_ip }}:{{ haproxy_mysql_listen_port }}
{% else %}
listen mysql-cluster {{ haproxy_mysql_listen_ip }}:{{ haproxy_mysql_listen_port }}
{% endif %}
    balance leastconn
    mode tcp
    option tcplog
{# options from config #}
{% if haproxy_mysql_cluster_options is defined and haproxy_mysql_cluster_options[0] is defined %}
{% for opt in haproxy_mysql_cluster_options %}
    {{ opt }}
{% endfor %}
{% endif %}
{% if haproxy_mysql_check_type == 'mysql' %}
    option mysql-check user haproxy
    
{% for ip in haproxy_mysql_nodes %}
    server mysql-node-{{ loop.index }} {{ ip }}:3306 check {% if not loop.first %}backup{% endif %} 
{% endfor %}
{% endif -%}


{% if haproxy_mysql_check_type == 'http' %}
    option httpchk
{% for ip in haproxy_mysql_nodes %}
    server mysql-node-{{ loop.index }} {{ ip }}:3306 check port {{ haproxy_mysql_check_port }} inter 5000 fastinter 2000 rise 2 fall 2 {% if not loop.first %}backup{% endif %} 
{% endfor %}
{% endif %}


# mysql frontend readonly ############################
# for version {{ _haproxy_major_version }}.{{ _haproxy_minor_version }}
{# check for config version #}
{# listen changed in 1.6 #}
{% if _haproxy_major_version == '1' and _haproxy_minor_version >= '6' %}
listen mysql-cluster-readonly 
    bind {{ haproxy_mysql_listen_ip }}:{{ haproxy_mysql_listen_port + 1 }}
{% else %}
listen mysql-cluster-readonly {{ haproxy_mysql_listen_ip }}:{{ haproxy_mysql_listen_port + 1 }}
{% endif %}
    balance leastconn
    mode tcp
    option tcplog
{# options from config #}
{% if haproxy_mysql_cluster_options is defined and haproxy_mysql_cluster_options[0] is defined %}
{% for opt in haproxy_mysql_cluster_options %}
    {{ opt }}
{% endfor %}
{% endif %}
{% if haproxy_mysql_check_type == 'mysql' %}
    option mysql-check user haproxy
    
{% for ip in haproxy_mysql_nodes %}
    server mysql-node-{{ loop.index }} {{ ip }}:3306 check
{% endfor %}
{% endif -%}


{% if haproxy_mysql_check_type == 'http' %}
    option httpchk
{% for ip in haproxy_mysql_nodes %}
    server mysql-node-{{ loop.index }} {{ ip }}:3306 check port {{ haproxy_mysql_check_port }} inter 5000 fastinter 2000 rise 2 fall 2
{% endfor %}
{% endif %}

