

# tcp listeners ####################################
# for version {{ _haproxy_major_version }}.{{ _haproxy_minor_version }}
{% for config in haproxy_tcp_listen %}
{% set bind_ports = config.bind_port|string %}
{% set bind_ports = bind_ports.split(';') %}

{# check for config version #}
{# listen changed in 1.6 #}
{% if _haproxy_major_version == '1' and _haproxy_minor_version >= '6' %}
listen {{ config.name }}
{% for port in bind_ports %}
    bind {{ config.bind_address }}:{{ port }} 
{% endfor %}
{% else %}
listen {{ config.name }} {% for port in bind_ports %}{{ config.bind_address }}:{{ port }} {% endfor %}
{% endif %}
    balance leastconn
    mode tcp
    option tcplog
{# options from config #}
{% if config.options is defined and config.options[0] is defined %}
{% for opt in config.options %}
    {{ opt }}
{% endfor %}
{% endif %}
{% set backup = config.backend.backup|default(False) %}
{% set backend_port = config.backend.port|default(False) %}
{% set checks = config.backend.check|default(haproxy_default_backend_check) %}
{% for server in config.backend.servers %}
{% if backend_port == False %}
    server {{ server }} {{ server }} {% if not loop.first and backup %}backup{% endif %}
{% else %}
    server {{ server }} {{ server }}:{{ config.backend.port }} {{ checks }} {% if not loop.first and backup %}backup{% endif %} 
{% endif %}

{% endfor %}
{% endfor %}
